.submitButton{
  border-color: transparent;
  background: #10784F;
  box-shadow:  8px 8px 11px #023f28,
              -7px -3px 10px #42a176; 
  color: #ff6169;
  border-radius: 10px;
  padding: 6px 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5px;
}
button:focus{
  outline: none;
}

@media screen and (min-width: 621px) {
  .submitButton:hover{
    transform: scale(1.2);
  }
}